body {

background-image:url("img33.jpg"); interesse background-size:cover; kendimi i kontroller }.aa{ width:300px; height:230px; background-color:rgba(0,0,0.5); margin:0 auto; margin-top:40px; padding-top:10px; padding-left:50px; border-radius: 15px; -webkit-border-radius:15px; -o-border-radius:15px; color:white; font-weight:bolder; mente de sesta } input

width:240px; text-align:center; lines background:#ecfofl; border:2px solid transparent; font-size:16px; font-weight:200; padding:10px 0; transition:border .5s;} input[type=submit] { border:2px solid transparent;


background:#3498db; color:white; font-size:16px; line-height:25px; padding:10px 0; border-radius:3px; } input[type=submit]:hover { background:#298069;

h2 { color:gray;
}
